* {
  font-family: 'eurof35', sans-serif;
  color: rgb(20,10,1);
  background-color: rgb(232,214,197);
}

.header {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0%;
  background-color: rgb(190,173,164);
  width: 100%;
  z-index: 1;
}

.navbar-item {
  display: inline-block;
  width: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: rgb(190,173,164);
  color: rgba(52,65,83,.67);
  font-family: 'DolceVita-Light', serif;
  font-size: 200%;
  text-align: center;
}

.navbar-link {
  background-color: rgb(190,173,164);
  color: rgba(52,65,83,.67);
  font-family: 'DolceVita-Light', serif;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
}

.navbar-link:hover {
  color: rgb(85,38,36);
}

.header-img {
  width: 100%;
}

.img-content {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.iframe-media {
  display: block;
  margin: auto;
}

.audio-media {
  display: block;
  margin: auto;
}

.first-item {
  margin-left: 8%;
}

#home-navbar-home {
  color: rgb(85,38,36);
}

#about-navbar-about {
  color: rgb(85,38,36);
}

#contact-navbar-contact {
  color: rgb(85,38,36);
}

#services-navbar-services {
  color: rgb(85,38,36);
}

.text-heading {
  text-align: center;
  font-size: 225%;
  padding: 2.5%;
  margin-top: 2.5%;
}

.in-text-heading {
  text-align: center;
  font-size: 175%;
  padding: 1%;
  margin-top: 1%;
}

h1 {
  color: rgba(85,38,36,.67);
  font-family: 'DolceVita-Light', serif;
  font-size: 175%;
}

.text-content {
  font-size: 175%;
  line-height: 175%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.text-content::first-letter {
  color: rgba(85,38,36,.67);
  font-family: 'DolceVita-Light', serif;
  font-size: 175%;
}

.label {
  background-color: rgba(190,173,164,.5);
  color: rgb(20,10,1);
  font-size: 200%;
  text-align: center;
  position: absolute;
  display:inline-block;
  width: 100%;
  top: 18%;
  margin-left: auto;
  margin-right: auto;
}

.roots {
  font-family: 'DolceVita-Light', serif;
  color: rgb(20,10,1);
  background-color: rgba(0,0,0,0);
  margin-top: 5%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.studio {
  font-family: 'cordelina', serif;
  font-size: 300%;
  font-weight: normal;
  color: rgb(20,10,1);
  background-color: rgba(0,0,0,0);
  margin-top: 0%;
  margin-bottom: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.dropdown {
  display: inline-block;
  background-color: rgb(190,173,164);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(190,173,164);
  z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    background-color: rgb(190,173,164);
}
