@font-face {
font-family: 'Monoton-Regular';
src: url('../fonts/Monoton-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'SpaceMono-Regular';
src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'SpaceMono-Bold';
src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'SpaceMono-Italic';
src: url('../fonts/SpaceMono-Italic.ttf') format('truetype');
font-weight: 400;
font-style: italic;
}

@font-face {
font-family: 'SpaceMono-BoldItalic';
src: url('../fonts/SpaceMono-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
